.hero {
  position: relative;
  width: 100%;
  background-color: var(--white-brand);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
  padding: 12rem 4.8rem 4.2rem 4.8rem;
  max-width: 129.1rem;
  width: 100%;
}

.hero__title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
  max-width: 43.7rem;
}
.hero__title span {
  color: var(--purple-brand);
  font-size: inherit;
}

.hero__spots {
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.hero__spots span {
  color: var(--purple-brand);
  font-size: inherit;
  font-weight: bold;
}

.hero__description {
  font-size: 1.6rem;
  text-align: start;
  margin-bottom: 4.2rem;
  width: 100%;
  max-width: 42.6rem;
}

.hero__yellow-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffd900;
  border-radius: 50px 0 0 0;
  z-index: 1;
}

.hero__circle-yellow {
  position: absolute;
  width: 22rem;
  height: 22rem;
  top: 15.1rem;
  left: 5.8rem;
  border-radius: 50%;
  border: 28px solid rgba(255, 255, 255, 0.15);
}

@media (min-width: 768px) {
  .hero {
    margin-top: 9.4rem;
  }

  .hero__content {
    padding: 3.4rem 8.2rem 6.6rem 8.2rem;
  }

  .hero__title {
    font-size: 3.6rem;
    margin-bottom: 3.8rem;
    text-align: start;
    align-self: start;
  }

  .hero__spots {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .hero__description {
    font-size: 1.6rem;
    text-align: start;
    align-self: start;
    margin-bottom: 2.2rem;
  }

  .hero__yellow-bg {
    width: 52%;
  }

  .hero__circle-yellow {
    width: 29rem;
    height: 29rem;
    top: 3.1rem;
    left: 16rem;
  }

  .hero__circle-yellow-2 {
    position: absolute;
    width: 18rem;
    height: 18rem;
    top: 43rem;
    left: 12.8rem;
    border-radius: 50%;
    border: 24px solid rgba(255, 255, 255, 0.15);
  }

  .hero__circle-left {
    position: absolute;
    width: 26rem;
    height: 26rem;
    top: 26.8rem;
    left: -11rem;
    border-radius: 50%;
    border: 20px solid #f9f9f9;
    z-index: 2;
  }
}

@media (min-width: 1024px) { 

  .hero {
    margin-top: 0rem;
    height: 90vh;
    background-color: #f9f9f9;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .countdown-card {
    grid-column: 2;
    grid-row: 1 / span 4;
    margin-bottom: 0;
    align-self: center;
  }

  .hero__title {
    grid-column: 1;
    font-size: 4.5rem;
    margin-bottom: 2.6rem;
    
  }

  .hero__spots {
    display: none;
  }

  .hero__description {
    grid-column: 1;
    margin-bottom: 2.6rem;
  }

  .button-primary {
    grid-column: 1;
  }
  .hero__yellow-bg {
    width: 32%;
  }

  .hero__circle-yellow {
    width: 44rem;
    height: 44rem;
    top: 12rem;
    left: 18rem;
  }

  .hero__circle-yellow-2 {
    display: none;
}

  .hero__circle-left {
    height: 38rem;
    width: 38rem;
    top: 20rem;
    left: -19rem;
    border: 28px solid var(--white-brand);
    
}
}

.countdown-card {
  width: 100%;
  max-width: 39rem;
  padding: 2.4rem;
  border-radius: 30px;
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.countdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-text {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.countdown-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.countdown-label {
  font-weight: 500;
  color: var(--blue-brand);
  font-size: 0.8rem;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.countdown-value {
  text-align: center;
}

.countdown-value span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 20px;
}

@media (min-width: 768px) {
  .countdown-card {
    padding: 3.6rem;
    margin-bottom: 5.8rem;
  }

  .countdown-text {
    font-size: 1.6rem;
  }

  .countdown-label {
    font-size: 1.2rem;
  }

  .countdown-value span {
    font-size: 3.6rem;
  }
}

@media (min-width: 1024px) {
  .countdown-card {
    padding: 4.4rem 4.1rem;
    width: 100%;
    max-width: 62.9rem;
    
  }

  .countdown-text {
    font-size: 1.8rem;
    margin-bottom: 5.4rem;
  }

  .countdown-label {
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
  }

  .countdown-value span {
    font-size: 5rem;
  }
}
