.faq-section {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 6.2rem 4.6rem 2rem 4.6rem;
  overflow: hidden;
}

.faq-decorative-circle-right-top {
  position: absolute;
  width: 17rem;
  height: 17rem;
  top: 0.6rem;
  right: -8rem;
  border-radius: 50%;
  border: 20px solid #f9f9f9;
}

.faq-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 44rem;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.faq-section-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 6.2rem;
  text-align: left;
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.faq-item {
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: #F9F9F9;
}

.faq-question {
  width: 100%;
  padding: 1.6rem;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
  transition: background-color 0.3s ease;
  gap: 1.4rem;
}

.faq-question span {
  flex: 1;
  font-size: 1.4rem;
}


.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: #fafafa;
  padding: 0 1.6rem; 
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 0 1.6rem 1.6rem 1.6rem;
}

.faq-answer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 1.2rem;
  line-height: 20px;
  margin: 0;
}


.faq-cta-container {
  display: none;
}


@media (min-width: 768px) {
  .faq-section {
    padding: 6rem 8.2rem;
  }

  .faq-decorative-circle-right-top{
    display: none;
  }
  
  .faq-question span {
    font-size: 1.6rem;
  }
  
  .faq-section-title {
    font-size: 3.2rem;
    margin-bottom: 4.4rem;
  }
  
  .faq-accordion {
    gap: 1.6rem;
    margin-bottom: 5.4rem;
  }
  
  .faq-question {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
  
  .faq-answer p {
    font-size: 1.6rem;
  }
  
  .faq-item.active .faq-answer {
    padding: 20px 20px;
  }
  
  .faq-cta-container {
    display: block;
  }
  
}


@media (min-width: 1024px) {
  .faq-section {
    padding: 9.8rem 8.2rem;
  }
  
  .faq-decorative-circle-left {
    display: block;
    position: absolute;
    width: 41rem;
    height: 41rem;
    top: 56rem;
    left: -20rem;
    border-width: 28px;
    border-style: solid;
    border-color: #f9f9f9;
    border-radius: 50%; 
  }
  
  .faq-decorative-circle-right-top {
    display: block;
    position: absolute;
    width: 26rem;
    height: 26rem;
    top: 8rem;
    right: -6rem;
    border-width: 28px;
    border-color: #f9f9f9;
  }
  
  .faq-decorative-circle-right-bottom {
    display: block;
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: 90rem;
    right: 2rem;
    border-width: 28px;
    border-style: solid;
    border-color: #f9f9f9;
    border-radius: 50%; 
  }
  
  .faq-accordion {
    width: 100%;
    margin-bottom: 8.2rem;
  }

  .faq-content-container {
    max-width: 111rem;
    width: 100%;
  }
  
  .faq-section-title {
    font-size: 3.2rem;
    text-align: left;
    margin-bottom: 6.4rem;
  }
  
  .faq-item.active .faq-answer {
    padding: 0 24px 24px 24px;
  }
}
