<header class="navbar__container">
<nav class="navbar">
  <a href="#home" class="navbar__logo">
    <img src="/svg/logo.svg" alt="A Better Weight, Inc, logo">
  </a>
  <ul class="navbar__links" id="navLinks">
    <li class="navbar__item">About Us</li>
    <li class="navbar__item">Book Online</li>
    <li class="navbar__item">Weight Loss Programs</li>
    <li class="navbar__item">Real Patient Stories</li>
    <li class="navbar__item">Locations</li>
    <li class="navbar__item">Blog</li>
    <li class="navbar__item">Shop</li>
    <li class="navbar__item">Subscription</li>
  </ul>
  <button class="navbar__toggle" id="navToggle" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
</header>

<link rel="preload" href="/src/components/navbar/navbar.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/src/components/navbar/navbar.css"></noscript>